﻿.button {
    border-top: 1px solid #4d4d4d;
    background: #b0b0b0;
    padding: 6px 12px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-family: Georgia, serif;
    display: inline-block;
    border: 1px solid grey;
    width: 125px;
    cursor: pointer;
}

body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    background: #E6EAE9;
    left: 20%;
    right: 20%;
    position: absolute;
}

.blockUI.blockMsg.blockPage {
    left: 46% !important;
}

a {
    color: #c75f3e;
}

#restautanList {
    width: 100%;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(/Content/images/bg_header.jpg) no-repeat;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    vertical-align: top;
}